.hero {
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-title {
    font-size: 54px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    background-color: rgba(10, 10, 10, 0.5);
    text-align: center;
}
