* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
    background-color: #fafafa;
    scroll-behavior: smooth;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
}
